@font-face {
  font-family: "Montserrat";
  src: local("Montserrat"), local("Montserrat-Regular"),
    url("./fonts/montserrat.woff2") format("woff2"),
    url("./fonts/montserrat.woff") format("woff"),
    url("./fonts/montserrat.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("./fonts/montserratbold.woff2") format("woff2"),
    url("./fonts/montserratbold.woff") format("woff"),
    url("./fonts/montserratbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: local("Montserrat Black"), local("Montserrat-Black"),
    url("./fonts/montserratblack.woff2") format("woff2"),
    url("./fonts/montserratblack.woff") format("woff"),
    url("./fonts/montserratblack.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #121214;
  font-display: fallback;
}

* {
  box-sizing: border-box;
  transition: all 0.5s ease;
  scroll-behavior: smooth;
}

ul,
li {
  display: block;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Montserrat Bold", sans-serif;
  font-weight: bold;
  color: #121214;
  font-display: swap;
}

p {
  margin: 0;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.btn {
  padding: 19px 0px;
  background: #037e8c;
  border-radius: 9px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 600;
  display: block;
  width: 200px;
  transition: all 0.5s ease;
  text-align: center;
}
.btn:hover {
  background: #fff;
  color: #0696a7;
  transition: all 0.5s ease;
}
.menu-burger {
  display: none;
}
/* HEADER */
.swiper {
  width: 100%;
  height: 918px;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
span.swiper-pagination-bullet {
  background-color: #fff;
  width: 8px;
  height: 8px;
}
.container-header {
  position: absolute;
  top: 20px;
  left: 10%;
  z-index: 5;
  margin: 0 auto;
}
.header__menu {
  display: flex;
  justify-content: space-around;
}
.logo {
  margin-right: 70px;
}
.logo_header img {
  width: 111px;
  height: 142px;
}
.menu {
  margin-top: 39px;
  display: flex;
}
.menu__list {
  display: flex;
  margin-right: 60px;
}
.menu__item a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.menu__item a:hover {
  color: #037e8c;
}
.menu__item:not(:last-child) {
  margin-right: 40px;
}
.contact {
  margin-left: auto;
}
.contact__number {
  display: block;
  font-size: 20px;
  color: #fff;
  margin-bottom: 11px;
}
.contact__number::before {
  content: "";
  display: inline-block;
  background: url("../img/phone.svg") no-repeat center center;
  width: 17px;
  height: 17px;
  margin-right: 13px;
}
.contact__btn {
  background: rgba(255, 255, 255, 0.4);
  padding: 12px 20px;
}
.header__offer {
  color: #ffffff;
  /* width: 50%; */
  margin-top: 108px;
}
.header__title {
  max-width: 600px;
  color: #ffffff;
  font-weight: 800;
  font-size: 70px;
  letter-spacing: 0.045em;
  margin-bottom: 37px;
}
.header__text {
  margin-bottom: 82px;
}
.header__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 274px;
  padding: 12px;
}
.header__btn::after {
  content: "";
  display: block;
  background: url("../img/arrow-right.svg") no-repeat center center;
  width: 31px;
  height: 31px;
  background-color: #ffffff;
  border-radius: 50%;
  margin-left: 32px;
}

/* BENEFITS */
.benefits {
  padding: 50px 0 27px;
}

.benefit-cards {
  display: flex;
  justify-content: space-between;
}
.benefit-card {
  width: 302px;
}
.benefit-card__icon {
  margin-bottom: 21px;
  width: 61px;
  height: 45px;
}
.benefit-card {
  color: #121214;
}
.benefit-card__title {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 18px;
}
.benefit-card__info {
  font-weight: normal;
  font-size: 16px;
}

/* ROUTES */
.route {
  padding: 57px 0 94px;
  background: #f4f4f4;
}
.routes-basic {
  display: flex;
  position: relative;
}

.routes__title {
  margin-bottom: 61px;
}
.title {
  font-size: 36px;
  text-align: center;
}

.route__card {
  width: 524px;
  margin-left: 18%;
}

.route__title {
  display: flex;
  align-items: center;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 9px;
  margin-left: 91px;
}
.routes__basic {
  position: relative;
}
.routes__basic::before,
.route__extended::before,
.routes__experience::before {
  content: "";
  display: block;
  position: absolute;
  border: 1px solid #037e8c;
  width: 80px;
  margin-right: 30px;
  top: 21px;
  left: -10px;
}
.route__extended::before {
  top: 172px;
  left: -10px;
}
.routes__experience::before {
  top: 172px;
  left: -10px;
}
.route__price {
  font-size: 24px;
  margin-bottom: 32px;
}
.route__information {
  margin-bottom: 27px;
}
.route__information p:not(:last-child) {
  margin-bottom: 9px;
}
.route__information p {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 16px;
  text-transform: uppercase;
}
.route__info::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 15px;
}
.route__info_time::before {
  background: url("../img/routeicon1.svg") no-repeat center center;
}
.route__info_distance::before {
  background: url("../img/routeicon2.svg") no-repeat center center;
}
.route__info_complex::before {
  background: url("../img/routeicon3.svg") no-repeat center center;
}
.route__main-title {
  font-size: 18px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}
.route__main-title::after {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../img/routeicon.svg") no-repeat center center;
  margin-left: 15px;
}
.route__main-city {
  font-size: 14px;
  line-height: 160%;
  font-weight: normal;
  margin-bottom: 39px;
}
.route__more {
  display: flex;
}
.btn_white {
  border: 1.5px solid #037e8c;
  color: #037e8c;
  background-color: transparent;
  margin-right: 15px;
}
.btn_white:hover {
  color: #fff;
  background-color: #037e8c;
}

.slick-track {
  display: flex;
}
.slick-list {
  overflow: hidden;
  padding-bottom: 20px;
}
.slider .slick-dots,
.gallery__slider .slick-dots {
  display: flex;
  align-items: center;
}

.slider .slick-dots li {
  list-style: none;
  margin: 0 10px;
}
.slider .slick-dots button,
.gallery__slider .slick-dots button {
  font-size: 0;
  width: 8px;
  height: 8px;
  background-color: #000;
  border-radius: 50%;
}
.slider .slick-dots li.slick-active button,
.gallery__slider .slick-dots li.slick-active button {
  background-color: #037e8c;
}
.slick-dots li button:before {
  font-size: 0;
}

.gallary-basic {
  position: absolute;
  width: 40%;
  top: 0;
  right: 0;
}
.slider__item img {
  width: 250px;
  height: 300px;
  object-fit: fill;
  border-radius: 9px;
}

.gallery__slider .slick-list {
  bottom: 20px;
}
.route__extended {
  padding-top: 150px;
  position: relative;
  right: -44%;
}
.routes-extended {
  display: flex;
  position: relative;
}
.gallary-extended {
  position: absolute;
  width: 40%;
  top: 27%;
  left: 0;
}
.slider-extended .slick-dots {
  display: flex;
  align-items: center;
  justify-content: end;
}
.routes-experience {
  display: flex;
  position: relative;
  padding-top: 150px;
}
.gallary-experience {
  position: absolute;
  width: 40%;
  top: 30%;
  right: 0;
}

/* TEST */
.test {
  padding: 81px 0 94px;
  background: url("../img/testbg.svg");
  text-align: center;
  color: #fff;
}

.test__title {
  color: #fff;
  margin-bottom: 19px;
}
.test__text {
  margin-bottom: 43px;
}
.test__btn {
  margin: auto;
}

/* gallery */
.gallery {
  padding-top: 64px;
}
.lightgallery {
  text-align: center;
}
.lightgallery a img {
  width: 413px;
  height: auto;
  margin-right: 30px;
}
.gallery__title {
  margin-bottom: 43px;
}

.gallery__wrap {
  background: url("../img/videobg.svg") no-repeat center center/cover;
  width: 100%;
  margin-top: 80px;
}

.youtube a {
  padding: 5px;
  /* border: 1px solid #ccc;
  box-shadow: 0 0 5px; */
  display: block;
  position: relative;
}
.video-img {
  max-width: 1078px;
  width: 100%;
  height: auto;
  padding: 25px;
  display: block;
  margin: auto;
}
/* TEAM */
.team {
  padding: 64px 0;
  background: url("../img/teambg1.svg") no-repeat center,
    url("../img/teambg2.svg") no-repeat;
  background-position: bottom left, right;
}
.team__title {
  margin-bottom: 39px;
}
.team__cards {
  display: flex;
  justify-content: space-between;
}
.team__card {
  width: 303px;
  border-radius: 9px;
  background-color: #f4f4f4;
  margin-bottom: 20px;
}
.team__card:hover {
  box-shadow: 1px 50px 50px rgba(0, 0, 0, 0.13);
}
.team__img img {
  width: 303px;
  height: auto;
  border-radius: 9px 9px 0 0;
}
.team__info {
  padding: 17px 0 22px 26px;
}
.team__name {
  color: #037e8c;
  font-weight: bold;
  font-size: 24px;
}
.team__position {
  font-weight: normal;
  font-size: 18px;
}

/* conditions */

.conditions {
  padding: 50px 0 82px;
  background: url("../img/conditionsbg.svg");
}

.conditions__title {
  width: 45%;
  margin: auto;
  margin-bottom: 43px;
}

.conditions__cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}
.conditions__card {
  display: flex;
  width: 413px;
  background: #ffffff;
  border-radius: 9px;
  padding: 9px 5px;
}
.conditions__info {
  display: flex;
  font-weight: normal;
  position: relative;
  padding-left: 59px;
  line-height: 150%;
}
.conditions__info::before {
  content: "";
  display: block;
  position: absolute;
  background: url("../img/done.svg") no-repeat center center;

  width: 42px;
  height: 42px;
  top: 3px;
  left: 6px;
}

/* SPECIAL */

.special {
  padding: 64px 0 75px;
  background: url("../img/discountbg1.svg") no-repeat,
    url("../img/discountbg2.svg") no-repeat;
  background-position: bottom left, top right;
}

.special__title {
  margin-bottom: 45px;
}
.special__cards {
  display: flex;
  justify-content: space-between;
}
.special__card {
  position: relative;
}
.special__card img {
  width: 636px;
  height: auto;
}
.special__card:hover {
  box-shadow: 20px 50px 80px rgba(0, 0, 0, 0.2);
}
.special__offer {
  position: absolute;
  width: 46%;
  top: 26px;
  right: 19px;
}
.special__discount {
  color: #037e8c;
  font-weight: 800;
  font-size: 36px;
  margin-bottom: 19px;
}
.special__offer span {
  font-size: 24px;
}
.special__text {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 14px;
}
.special__btn {
  padding: 14px 44px;
}

/* PRESENT */

.present {
  padding: 50px 0 90px;
  background: url("../img/present.svg");
}
.present__title {
  margin-bottom: 13px;
}

.present__text {
  color: #037e8c;
  font-weight: 500;
  font-size: 20px;
  width: 45%;
  text-align: center;
  margin: auto;
  margin-bottom: 46px;
}

.present__wrap {
  display: flex;
  justify-content: space-between;
}
.present__info {
  width: 40%;
  align-self: center;
}
.present__btn {
  width: 277px;
}
.present__info-text {
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 50px;
  line-height: 172.5%;
}
.present__certificate {
  position: relative;
}
.present__certificate img {
  width: 636px;
  height: auto;
}
.present__certificate:hover {
  box-shadow: 20px 50px 80px rgba(0, 0, 0, 0.2);
}
.present__certificate-info {
  color: #ffffff;
  position: absolute;
  top: 45%;
  left: 20%;
}
.present__certificate-title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 22px;
}
.present__certificate-text {
  font-weight: normal;
  font-size: 16px;
}

/* questions */

.questions {
  padding: 80px 0 85px;
}
.questions__title {
  margin-bottom: 48px;
}
.questions__wrap {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.questions__list {
  width: 540px;
}
.questions__item:not(:last-child) {
  margin-bottom: 8px;
}
.questions__name {
  font-weight: 600;
  font-size: 16px;
  position: relative;
  width: 100%;
  padding: 16px 25px;
  background-color: transparent;
  text-align: left;
  border: 0.5px solid #848484;
  border-radius: 2px;
  cursor: pointer;
}
.questions__name::after {
  content: "";
  position: absolute;
  background: url("../img/question-arrow.svg") no-repeat center center;
  right: 15px;
  bottom: 15px;
  width: 22px;
  height: 22px;
}
.questions__name.active:after {
  transform: rotate(-90deg);
}
.questions__name.active {
  border-bottom: none;
  border-color: #037e8c;
}
.questions__name:focus {
  outline: none;
}
.questions__description {
  height: 0;
  overflow: hidden;
}
.questions__description p {
  font-weight: normal;
  font-size: 14px;
  border: 0.5px solid #037e8c;
  padding: 25px;
  border-top: none;
}
.questions__description.active {
  height: auto;
}
.questions__ask {
  text-align: center;
}
.questions__ask img {
  width: 94px;
  height: 94px;
  margin-bottom: 26px;
}
.questions__ask-title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 14px;
}
.questions__ask-info {
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
  font-weight: normal;
  width: 380px;
}
.questions__btn {
  margin: auto;
}

/* services */
.services {
  padding: 20px 0 109px;
}
.services__title {
  margin-bottom: 55px;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  gap: 27px;
}
.services__item {
  width: 303px;
  border-radius: 9px;
  background-color: #f4f4f4;
}
.services__item:hover {
  box-shadow: 1px 50px 50px rgba(0, 0, 0, 0.13);
}
.services__item img {
  width: 303px;
  height: auto;
  border-radius: 9px 9px 0 0;
}
.services__info {
  padding: 22px 50px 26px 24px;
  color: #037e8c;
  font-weight: 600;
  font-size: 18px;
}

/* contacts */

.contacts {
  padding-bottom: 74px;
  position: relative;
}

.contact__info {
  display: flex;
  justify-content: space-between;
}
.contacts__title {
  text-align: start;
  border-top: 3px solid #037e8c;
  max-width: 635px;
  padding-top: 15px;
  margin-bottom: 64px;
}
.contact__list {
  max-width: 650px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 22px;
}
.contact__item {
  width: 313px;
}
.contact__item a {
  display: flex;
  align-items: center;
  font-weight: normal;
  font-size: 18px;
  color: #121214;
}
.contact__item a img {
  width: 45px;
  height: 45px;
  margin-right: 15px;
}

.socials__title {
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 16px;
}
.socials__list {
  display: flex;
}
.socials__item a img {
  width: 41px;
  height: 41px;
}
.socials__item:first-child {
  margin-right: 21px;
}
.contact__map {
  position: absolute;
  top: 0;
  right: 0;
}
.contact__map img {
  width: 707px;
  height: auto;
}
/* footer */

.footer {
  padding: 44px 0 25px;
}
.menu_footer {
  margin: 0;
}
.footer__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #121214;
  border-bottom: 1px solid #121214;
  padding: 10px;
}
.logo_footer img {
  width: 65px;
  height: 83px;
  margin-left: 112px;
}
.menu__item_footer a {
  color: #121214;
}
.footer__rights {
  margin-top: 21px;
  color: #787878;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
}

/* MODAL */
.modal-window__title {
  font-weight: 600;
  font-size: 24px;
  color: #121214;
  text-align: center;
  margin-bottom: 30px;
}
.input-form {
  background-color: #ffffff;

  border: 0.5px solid #787878;
  width: 100%;
  border-radius: 8px;
  outline: none;
  padding: 12px 11px;
  margin: 12px 0;
}
.input-form:first-child {
  margin-bottom: 12px;
}

.input-form_name {
  background: url("../img/form1.svg") no-repeat left center;
  background-position: 10px;
}
.input-form_tel {
  background: url("../img/form2.svg") no-repeat left center;
  background-position: 10px;
}
.form-btn {
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 32px;
}
.label-form {
  font-weight: 500;
  font-size: 14px;
}
.modal-wrapper {
  width: 100%;
  height: 100%;
  display: none;
}
.modal-wrapper.active {
  display: block;
}
.modal-window {
  position: relative;
  background: #ffffff;
  border-radius: 9px;
  width: 400px;
  padding: 81px 50px;
  position: fixed;
  box-shadow: 0px 20px 40px rgb(0 0 0 / 9%);
  z-index: 10;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -75%);
}
.overlay {
  position: fixed;
  background: rgba(18, 18, 20, 0.8);
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.btn-close {
  position: absolute;
  display: block;
  font-size: 33px;
  width: 32px;
  height: 32px;
  color: rgb(86 86 86 / 80%);
  background-color: transparent;
  top: 4px;
  right: 4px;
  cursor: pointer;
  border: none;
}
.btn-close:hover {
  color: #000;
}

/* Large desktops and laptops */
@media (max-width: 1300px) {
  .menu__item:not(:last-child) {
    margin-right: 22px;
  }
  .contact__map {
    right: -90px;
  }
  /* .image-lightbox {
    position: relative;
  }
  #images-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  } */
  .gallary-wrapper a img {
    width: 100%;
  }
}

/* Large: 992px - 1199px */
@media (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
  .team__cards {
    flex-wrap: wrap;
  }
  .team {
    padding-bottom: 0;
  }
  .conditions__title {
    width: 100%;
  }
  .special__cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  .special__card:first-child {
    margin-bottom: 20px;
  }
  .services__list {
    justify-content: space-evenly;
  }
  .contact__item_phone {
    margin-left: 0;
  }
  .menu {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
  .contact__number {
    margin-bottom: 0;
    margin-right: 20px;
  }
  .logo_footer img {
    margin-left: 0;
  }
  .gallery__video iframe {
    width: 60%;
    margin: auto;
  }
  .contact__info {
    align-items: center;
  }
  .contact__list {
    display: block;
  }
  .contact__item {
    margin-bottom: 20px;
  }
  .contact__map img {
    width: 600px;
  }
  .route__card {
    margin-left: 0;
  }
  .contact__map {
    right: 0;
  }

  /* div[id^="image"]:target {
    width: 300px;
    height: auto;
    z-index: 5000;
    top: 50px;
    left: 0;
  }

  div#image-1:target,
  div#image-2:target,
  div#image-3:target,
  div#image-4:target,
  div#image-5:target,
  div#image-6:target {
    left: -10%;
  }
} */
  /* Medium: 768px - 991px */
  @media (max-width: 991px) {
    .container {
      max-width: 720px;
    }
    .logo_header img {
      width: auto;
      height: 80px;
    }

    .header__menu {
      justify-content: space-between;
    }
    .benefit-cards {
      display: block;
      text-align: center;
    }
    .benefit-card,
    .route__card {
      width: 100%;
    }
    .benefit-card:not(:last-child),
    .contact__item:not(:last-child) {
      margin-bottom: 20px;
    }
    .conditions__card,
    .present__text,
    .present__info,
    .questions__list,
    .questions__ask-info {
      width: 100%;
    }
    .present__wrap {
      display: block;
    }
    .present__btn {
      margin: auto;
      margin-bottom: 20px;
    }
    .present__info-text,
    .questions__list,
    .socials__list {
      margin-bottom: 10px;
    }
    .present__certificate {
      text-align: center;
    }
    .questions__wrap,
    .contact__list {
      display: block;
    }
    .questions,
    .special {
      padding: 20px 0;
    }
    .contacts {
      padding-bottom: 0;
    }
    .contact__info {
      display: flex;
      flex-flow: wrap;
    }
    .contact__map {
      position: relative;
      width: 100%;
      order: 1;
      margin-bottom: 20px;
      text-align: center;
    }
    .contact__details {
      width: 100%;
      order: 2;
    }
    .socials {
      display: flex;
      align-items: center;
    }
    .socials__title {
      margin-right: 20px;
    }
    .menu__list_footer {
      display: block;
    }
    .menu_footer {
      margin-top: 0;
    }
    .scroll {
      display: none;
    }
    .routes-basic,
    .routes-extended,
    .routes-experience {
      display: flex;
      flex-direction: column;
    }
    .routes__basic,
    .route__extended,
    .routes__experience {
      margin-bottom: 30px;
    }
    .gallary-basic,
    .gallary-extended,
    .gallary-experience {
      position: relative;
      width: 100%;
    }
    .gallary-extended,
    .gallary-experience {
      order: 2;
    }
    .gallary-experience .slider__item img {
      width: 100%;
    }
    .route__extended {
      right: 0;
    }
    .slider .slick-dots {
      display: none !important;
    }
    .slider__item img {
      width: 100%;
    }
    .route__extended,
    .routes-experience {
      padding-top: 0;
    }
    .routes__basic::before,
    .route__extended::before,
    .routes__experience::before {
      display: none;
    }
    .route {
      padding: 0;
    }
    .lightgallery a img {
      margin-bottom: 20px;
    }
  }

  /* Small: 576px - 767px */
  @media (max-width: 767px) {
    .container {
      max-width: 540px;
    }
    .contact {
      display: none;
    }
    .menu-mobile {
      display: block;
      background: url("../img/menuicon.svg") no-repeat;
      width: 20px;
      height: 20px;
      border: none;
      z-index: 3;
    }

    .menu__list-header {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #121214;
      padding: 130px 10px 0 70px;
      display: none;
    }
    .menu__list-header li {
      margin-bottom: 20px;
    }
    .logo_header {
      z-index: 11;
    }
    .header {
      padding: 0;
    }
    .menu {
      margin-top: 0;
    }
    .header__menu {
      align-items: center;
    }
    .swiper-pagination {
      display: none;
    }
    .contact__map img,
    .present__certificate img,
    .btn,
    .slider-item img,
    .special__card img {
      width: 100%;
    }
    .team__cards {
      justify-content: center;
    }
    .header__title {
      font-size: 45px;
    }

    .present__info-text {
      text-align: center;
    }
    .route__card {
      margin-left: 0;
      width: 100%;
    }

    .route__extended {
      right: 0;
    }
    .click-for-video {
      padding: 15px;
    }
    .click-for-video::after {
      top: 38%;
      left: 42%;
    }
    .youtube {
      width: auto;
    }
    .gallary-wrapper {
      display: block;
    }
    .gallary-wrapper a img {
      margin-bottom: 20px;
    }
    .gallary-wrapper a:not(:last-child) {
      margin-right: 0;
    }
    .services {
      padding-bottom: 30;
    }
  }
  /* Extra small: 0px (320px) - 575px */
  @media (max-width: 575px) {
    .container {
      padding: 0 15px;
    }
    .header__title {
      font-size: 33px;
    }
    .logo_header img {
      width: auto;
      height: 65px;
    }
    .contact {
      display: none;
    }
    .special__discount {
      font-size: 23px;
    }
    .special__text,
    .special__offer span,
    .contact__item a {
      font-size: 14px;
    }
    .present__certificate-title,
    .socials__title {
      font-size: 16px;
    }
    .present__certificate-info {
      top: 40%;
      left: 8%;
    }
    .special__text {
      font-size: 12px;
    }
    .special__discount {
      font-size: 15px;
      margin-bottom: 3px;
    }
    .special__offer {
      right: 10px;
    }
    .title,
    .route__title {
      font-size: 27px;
    }
    .special__btn {
      display: none;
    }
    .gallery__video,
    .team {
      padding: 20px 0;
    }
    .gallery__wrap {
      background: none;
      margin-top: 0;
    }
    .routes__basic::before,
    .route__extended::before,
    .routes__experience::before {
      display: none;
    }
    .route__title {
      margin-left: 0;
    }
    .modal-window {
      width: 100%;
    }
    .click-for-video::after {
      top: 25%;
      left: 37%;
    }
    .lightgallery a img {
      margin: 10px auto;
      width: 100%;
    }
  }
}
